/eln-cache/
/elpa-27.1/
/elpa-28.0/
/.DS_Store
*.eld
/recentf~
/recentf
/custom.el~
/init.el~
/.cache/
/.lsp-session-v1
/auto-save-list/
/transient/
.DS_Store
/.uptimes.el
/.smex-items
/custom.el
/projectile.cache
/.last-package-update-day
/url/
/straight/
/site-lisp/doggypoo.el~
/projects
/lisp/init-yasnippet.el~
/lisp/init-tex.el~
/lisp/init-shell.el~
/lisp/init-evil.el~
/eshell/
/elpa/
/lisp/init-org.el~
/lisp/init-macos.el~
/session.1025f82c85eec4d62116310002841650400000018100085
/session.109cf897ebfcf82a6163089797482358500004359100083
/tramp
/.org-id-locations
/elpa-29.0/
/network-security.data
/org-roam.db
/request/
/elpa-27.2/
/eww-bookmarks
/package-quickstart.el
/package-quickstart.elc
*.~undo~tree~
*.*.~undo~tree~
/.custom.el.~undo-tree~
/lisp/.init-ess.el.~undo-tree~
/lisp/.init-lsp.el.~undo-tree~
/lisp/.init-company.el.~undo-tree~
/bookmarks
/elpa-28.1/*
/tutorial/
/elpa-30.0/
/epkgs/
/tree-sitter/
/.emacs.desktop
/.dap-breakpoints
/elpa-29.1/
/.local/
/tramp-autosave/
/elpa-29.2/
/ensime-tng-3.0.15/
/elpa-29.3/
/elpa-29.4/
/.emacs.desktop.lock
