/eln-cache/
/elpa-27.1/
/elpa-28.0/
/.DS_Store
*.eld
/recentf~
/recentf
/custom.el~
/init.el~
/.cache/
/.lsp-session-v1
/auto-save-list/
/transient/
.DS_Store
/.uptimes.el
/.smex-items
/custom.el
/projectile.cache
/.last-package-update-day
/url/
/straight/
/site-lisp/doggypoo.el~
/projects
/lisp/init-yasnippet.el~
/lisp/init-tex.el~
/lisp/init-shell.el~
/lisp/init-evil.el~
/eshell/
/elpa/
/lisp/init-org.el~
/lisp/init-macos.el~
